.sortWrapper {
  justify-content: space-between;
  border-bottom: 1px solid #eaf1f1;
  padding-bottom: 10px;
}

.rightBar {
  justify-content: flex-end;
  align-items: center;
}

.searchBar {
  margin-right: 25px;
}
