.radioContent {
    border-radius: 10px;
    border: 2px solid #f0f0f5;
    padding: 10px 0;
    cursor: pointer;
    :global {
        .ant-form-item-control-input-content {
            display: flex;
            align-items: center;
            padding: 5px 0;
        }
        .ant-radio-wrapper {
            margin-left: 10px;
        }
        .ant-radio-inner {
            width: 25px;
            height: 25px;
        }
        .ant-radio-wrapper:hover .ant-radio,
        .ant-radio:hover .ant-radio-inner,
        .ant-radio-input:focus + .ant-radio-inner {
            border-color: black;
        }
        .ant-radio-inner::after {
            background-color: white;
            width: 9px;
            height: 9px;
            left: 7px;
            top: 7px;
        }
        .ant-radio-checked .ant-radio-inner {
            border-color: #f0f0f5;
        }
    }
}

.active {
    border: 2px solid rgba(0, 0, 0, 0.87);
    :global {
        .ant-radio-inner {
            background-color: black;
            width: 25px;
            height: 25px;
        }
        .ant-radio-checked .ant-radio-inner {
            border-color: black;
        }
    }
}

.input {
    :global {
        .ant-select:not(.ant-select-customize-input) .ant-select-selector,
        .ant-input,
        .ant-picker {
            background-color: #f0f0f5;
        }
        .ant-picker:hover,
        .ant-picker-focused,
        .ant-select:not(.ant-select-disabled):hover .ant-select-selector,
        .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input)
            .ant-select-selector {
            border-color: black;
            box-shadow: none;
        }
    }
}

.picker {
    :global {
        .ant-picker-today-btn {
            color: black;
        }
    }
}
// color:f9f9fb
