.cartImage {
  width: 200px;
  height: 200px;
}

.cartItemWrapper {
  display: flex;
  width: 100%;
  margin-bottom: 35px;
}

.cartItemActions {
  flex-basis: 45%;
  margin: 0 auto;
  border-right: 1px solid var(--border);
}

.buttonGroup {
  & button:first-child {
    margin-right: 15px;
  }
}

.cartItemPrice {
  margin-bottom: 15px;
}

.mb {
  margin-bottom: 15px;
}
