.dropdown {
}

.wrapper {
  width: 100%;
  min-height: 500px;
  box-shadow: 0 5px 9px -2px gainsboro;
  background-color: #fafafa;
}

.row {
  max-width: 1240px;
  margin: 0 auto;
}

.menu {
  background-color: #fafafa;
  border: none;
}
