.button:global(.ant-btn) {
  width: 223px;
  height: 46px;
  background-color: #020002;
  color: #faf8f8;
  border: 1px solid #020002;
}

.buttonHovered:global(.ant-btn:hover) {
  background-color: #faf8f8;
  border: 1px solid #020002;
  color: #020002;
}
