.steps :global {
    .ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-icon {
        background: rgba(0, 0, 0, 0.87);
        border: none;
    }
    .ant-steps-item-finish
        > .ant-steps-item-container
        > .ant-steps-item-content
        > .ant-steps-item-title::after {
        background: rgba(0, 0, 0, 0.87);
    }
}
